*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: 0;
    border: none;
    font-family: 'Times New Roman', serif;
}
body{
    background: rgb(50,123,198);
    background: linear-gradient(90deg, rgba(50,123,198,0.5) 0%, rgba(40,205,142,0.5) 35%, rgba(0,212,255,0.5) 100%);
}
.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.login_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.login_header img {
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
}
.login_header h1 {
    font-size: 1.5em;
    margin: 10px 10px 10px;
}
.login_input {
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 15px;
}
.login_button {
    background-color: black;
    border-radius: 8px;
    color: white;
    padding: 15px;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
}
.login_button:disabled {
    background-color: lightgray;
    color: grey;
    cursor: auto;
}